/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3em;
	font-weight: 300;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.portofolio {
	font-size: 1rem;
	margin: 1rem;
	font-weight: 100;
}

.icons-social i {
	padding: 20px;
}

.icons-social a {
  text-decoration: none;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}
a:link {
	color :#303F9F;
	background-color: transparent;
	text-decoration: none;
  }
  
a:visited {
	color:  #303F9F;
	background-color: transparent;
	text-decoration: none;
  }
  
a:hover {
	color: #0277BD;
	background-color: transparent;
	text-decoration: none;
  }
  
a:active {
	text-decoration: underline;
  }

button {
	border-radius: 5px;
	border: 1px solid #303F9F;;
	padding: 0.5rem;
	font-weight: 100;
}

.center{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1 rem;
	gap: 1rem;
}

.portfolio-button {
    display: inline-block;
	border: 1px solid black;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;

}

.portfolio-button:hover {
    background-color: white;
}