/* Theme */

main {
	background: #EDEDED;
	color: #4b5658;
}

.icons-social a {
	color: #4B5658;
}

a:hover {
	color: #2F4F4F;
	background-color: transparent;
	text-decoration: none;
  }

.icons-social a svg path{
	fill: #4B5658;
}